.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  margin-top: auto;

}
.growandscale {
  text-decoration: underline;
  -webkit-text-decoration-color: #F99A1A; /* Safari */  
  text-decoration-color: #F99A1A ;
}
