.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  margin-top: auto;

}
.growandscale {
  text-decoration: underline;
  -webkit-text-decoration-color: #EC5A31 ; /* Safari */  
  text-decoration-color: #EC5A31  ;
}

.outline {
    outline-style: solid;
    outline-color: #EC5A31 ;
    outline-width: 1px;

}
.footer-logo {
  width: 123px;
}