@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,400;1,500&family=Macondo&family=Oswald:wght@500&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;1,300;1,400&family=Tilt+Neon&family=Urbanist:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Raleway', sans-serif;}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
     scrollbar-width: none;
}

.cod {
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color: #F99A1A;
}
.network {
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
}
.cod-footer {
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color: white;
}
.network-footer {
    color: white;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
}
.btn {
    background-color: #EC5A31 
}

li:hover {
    color: #EC5A31;
}
.menu-bg {
    background-color: #F99A1A;   
}
@layer components{
    .container {
        @apply  w-[1440px] px-5 mx-auto
    }}

@media only screen and (max-width: 1024px){
    .container {
        @apply w-full;
    }
    section {
        @apply py-[35px];
    }
    }